/* Structure Styles
/*---------------------------------------------*/
body {
	background-color: #F8F8F8;
}
.footer {
	padding: 1em 0;
	margin-top: 1em;
	background: #E0E0E0;
	text-align: center !important;
	max-width: 100% !important;
}
.top-bar {
	background-color: #4183D7 !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #4183D7 !important;
}
.top-bar.expanded {
	background-color: #2574A9;
}
.top-bar.expanded .title-area {
	background-color: #2574A9 !important;
}
.top-bar.expanded .toggle-topbar a {
	color: #D2D7D3 !important;
}
.row {
	max-width: 730px;
	text-align: justify;
}
