/* Structure Styles
/*---------------------------------------------*/
body{
   font-family: 'PTSansCaptionRegular', sans-serif;
   font-weight: normal;
   font-style: normal;
}
h1, h2, h3, h4, h5, h6, .top-bar-section ul li > a {
	font-family: inherit;
}
.top-bar-section li {
	margin-left: 0;
}
.footer {
	padding: 1em 0;
	margin-top: 1em;
	background: #E0E0E0;
	text-align: center !important;
	max-width: 100% !important;
}
.top-bar {
	background-color: #4183D7 !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #4183D7 !important;
}
.top-bar.expanded {
	background-color: #2574A9;
}
.top-bar.expanded .title-area {
	background-color: #2574A9 !important;
}
.top-bar.expanded .toggle-topbar a {
	color: #D2D7D3 !important;
}
.row {
	max-width: 730px;
	text-align: justify;
}
h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 1em 0 1em 0;
}
.name h1  {
	text-align: left;
}
h2 {
	font-size: 2em;
	text-align: left;
}
li {
	margin-bottom: 1.25em;
	margin-left: 0.5em;
}
li p, li li {
	margin-bottom: 0;
}
code {
	white-space: nowrap;
}
/* reduced screen size */
@media screen and (max-width: 480px) {
	.row {
		text-align: left;
	}
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}
