<?php
/*
 * Config file for 'eventi' plugin
 */
// set locale for time and date
setlocale(LC_TIME, 'it_IT');

// number of most recent events to show
define('NUM_RECENT', 5);

// URL to add/delete events
define('ADMIN_URL', 'eventi/admin');

// username and password (SHA-256) for management panel
define('ADMIN_USERNAME', '');
define('ADMIN_PW', '');

// expire time (minutes) for login data
define('LOGIN_EXPIRE_MIN', 10);

// Select backend (either 'sqlite' or 'mysql')
define('BACKEND', 'sqlite');

// Path to SQLite database
define('SQLITE_DB', 'eventi.db');

// MySQL database parameters
define('MYSQL_SERVERNAME', 'localhost');
define('MYSQL_USERNAME', '');
define('MYSQL_PASSWORD', '');
?>
